<ul>
  <% if @users %>
    <% @users.each do |user| %>
    <div class="row">
      <div class="large-6 large-offset-3 columns">
        <li>
          <%= link_to("#{user.first_name} #{user.last_name} - #{user.username}",
          user_path(user)) %>
          <% if !current_user.friends.include?(user) &&
             !current_user.inverse_friends.include?(user) &&
             user != current_user %>
            <div>
              <%= link_to("Add #{user.username} as a friend",
              friendships_path(friend_id: user.id), method: :post) %>
            </div>
          <% end %>
        </li>
      </div>
    </div>
    <% end %>
  <% end %>
</ul>
